* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: white;
}
a:hover {
  text-decoration: none;
  color: white;
}

.nav-container {
  background-color: #e06138;
}
@media screen and (max-width: 767px) {
  .nav-container nav {
    flex-direction: column;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .nav-container .nav-icons {
    width: 75%;
    justify-content: space-between;
    padding-left: 5%;
  }
}
@media screen and (max-width: 767px) {
  .nav-container .nav-icons {
    margin-top: 3%;
    justify-content: space-around;
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .nav-container .d-md-none {
    display: none;
  }
}

.landing {
  background: url(../images/houses.jpg);
  min-height: 95vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .landing p {
    font-size: 25px;
  }
}
@media screen and (max-width: 767px) {
  .landing p {
    font-size: 25px;
  }
}
.landing .landing-form {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid transparent;
  border-radius: 5px;
}
@media screen and (max-width: 767px) {
  .landing .landing-form {
    padding: 17%;
    padding-bottom: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.landing .landing-form input {
  width: 40vw;
}
.landing .landing-form a {
  background-color: #e06138;
}
@media screen and (max-width: 767px) {
  .landing .landing-form form {
    position: relative;
  }
  .landing .landing-form form input {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .landing .landing-form .input-group-prepend {
    position: absolute;
    bottom: -160%;
    width: 100%;
  }
  .landing .landing-form .input-group-prepend a {
    display: block;
    width: 100%;
  }
}
.landing button {
  transition: transform 0.5s linear;
}
.landing button:hover {
  background-color: #e2e6ea;
  transform: translateY(-5px);
}

.functionalities h5 {
  color: #e06138;
}
.functionalities .row-container {
  margin-top: 50px;
}
@media screen and (max-width: 767px) {
  .functionalities .row-container .col-lg-5 {
    display: flex;
    flex-direction: column;
  }
}
.functionalities .row-container .col-lg-5 span {
  order: 2;
}
@media screen and (max-width: 767px) {
  .functionalities .row-container .col-lg-5 span {
    margin-bottom: 10%;
  }
}
@media screen and (max-width: 767px) {
  .functionalities .row-container .p-cont {
    display: none;
  }
}

.clients {
  background-color: #e06138;
}
.clients .d-flex {
  width: 80%;
}
.clients .d-flex .clients-info {
  font-size: 20px;
}
.clients img {
  width: 20%;
  height: 250px;
  border-radius: 100%;
}
.clients button {
  transition: transform 0.5s linear;
  color: #e06138;
}
.clients button:hover {
  background-color: #e2e6ea;
  transform: translateY(-5px);
}

.flexibility {
  background-color: #6c757d;
}
.flexibility .d-flex {
  width: 80%;
}
.flexibility .d-flex .clients-info {
  font-size: 20px;
}
.flexibility img {
  width: 20%;
  height: 250px;
  border-radius: 100%;
}
.flexibility button {
  transition: transform 0.5s linear;
}
.flexibility button:hover {
  background-color: #e2e6ea;
  transform: translateY(-5px);
}

.hours {
  background-color: #007bff;
}
.hours .d-flex {
  width: 80%;
}
.hours .d-flex .clients-info {
  font-size: 20px;
}
.hours img {
  width: 20%;
  height: 250px;
  border-radius: 100%;
}

footer {
  background-color: black;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  footer .footer-top {
    flex-direction: column;
    justify-content: space-between;
  }
  footer .footer-top ul {
    padding: 3% 4%;
    align-self: center;
  }
  footer .footer-top ul a {
    margin: 0 20px;
  }
  footer .footer-top .icon {
    padding: 5%;
    margin-bottom: 1%;
  }
}
@media screen and (max-width: 767px) {
  footer .footer-top {
    flex-direction: column;
    justify-content: space-between;
  }
  footer .footer-top ul {
    padding: 3% 4%;
    align-self: center;
  }
  footer .footer-top ul a {
    margin: 0 20px;
  }
  footer .footer-top .icon {
    padding: 5%;
    margin-bottom: 1%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  footer .footer-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .footer-middle .col-lg-4:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .footer-middle .col-lg-4:nth-child(2) {
    margin: 5% 0;
  }
}
@media screen and (max-width: 767px) {
  footer .footer-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .footer-middle .col-lg-4:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .footer-middle .col-lg-4:nth-child(2) {
    margin: 5% 0;
  }
}
footer .icon {
  border: 1px solid white;
  border-radius: 50%;
  margin-top: -1%;
}
footer input {
  background-color: black;
  border: 1px solid lightgray;
}
footer button {
  background-color: #6c757d;
  border: 1px solid lightgray;
}
footer .email {
  color: #cf352d;
  font-size: 18px;
}
footer .learn-more {
  color: #cf352d;
}

@media screen and (max-width: 767px) {
  .footer-bottom {
    display: none;
  }
}